.benefits__list {
	width: 100%;
	display: flex;
	flex-direction: row;
	min-height: 40vh;
}

.benefits__nav {
	min-width: calc((100% - 1280px)/2);
	display: flex;
	flex-direction: column;
	background: var(--primary-dark-grey-color);
}

.benefits__title {
	padding: 100px 70px 30px 70px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
}

.benefits__list-item {
	padding: 30px 70px;
	background-color: transparent;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: var(--secondary-dark-grey-color);
}

.benefits__list-item--active {
	background: var(--secondary-dark-grey-color);
}

a.benefits__list-item {
	color: rgba(255,255,255,0.4);
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
}

a.benefits__list-item--active {
	color: var(--primary-orange-color);
}

.benefits__list-item-title {
	display: flex;
	align-items: center;
}

.benefits__icon {
	margin-right: 10px;
}

.benefits__views {
	width: calc(100% - 320px);
	display: flex;
	flex-direction: row;
}

.benefits__view {
	min-width: 100%;
	display: flex;
	flex-direction: row;
	opacity: 1;
}

.benefits__view--active {
	opacity: 1;
}

.benefits__meta {
	display: flex;
	flex-direction: column;
	min-width: 640px;
	width: 50%;
	background-color: var(--secondary-dark-grey-color);
	justify-content: space-between;
}

.benefits__content {
	padding: 60px 70px 0px 70px;
}

.benefits__meta-title {
	font-size: 36px;
	line-height: 44px;
	font-weight: 700;
	color: white;
}

.benefits__meta-description {
	color: var(--secondary-mid-grey-color);
}

.benefits__meta-description h4 {
	color: rgba(255,255,255,0.6);
	line-height: 34px;
	margin-top: 10px;
}

.benefits__stats {
	display: flex;
	flex-direction: column;
	padding: 50px 70px 30px 70px;
	background-color: var(--secondary-dark-grey-color);
	/* min-height: 190px; */
}

.benefits__stats-item {
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	display: flex;
	margin-bottom: 10px;
	align-items: center;
}

.benefits__stats-image {
	width: 30px;
	height: 30px;
	margin-right: 20px;
}

.benefits__stats-text {
	color: var(--primary-orange-color);
}

.benefits__related {
	min-width: 320px;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.benefits__related-content {
	display: flex;
	flex-direction: column;
	padding: 70px;
	min-height: 300px;
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 100%);
	justify-content: start;
}

.benefits__related-content__title {
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
	margin-bottom: 10px;
}

.benefits__related-content__items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.benefits__related-content__item {
	border-radius: 50px;
	background-color: rgba(255,255,255,0.2);
	color: white;
	padding: 8px 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 800;
	text-decoration: none;
	transition: 0.3s all ease-out;
}

.benefits__related-content__item:hover {
	background-color: rgba(255,255,255,0.4);
	color: white;
	transition: 0.3s all ease-out;
}

@media (max-width: 1024px) {
	.benefits__list {
		flex-direction: column;
	}

	.benefits__nav {
		display: inline-flex;
		flex-wrap: wrap;
		background: transparent;
		flex-direction: unset;
		margin: 0px 20px 20px 20px;
	}

	.benefits__list-item {
		padding: 7px 15px;
	}

	a.benefits__list-item {
		font-size: 12px;
		line-height: 12px;
		color: var(--primary-purple-color);
		margin:  0px 0px 5px 5px;
		background-color: var(--secondary-dark-grey-color);
		border-radius: 50px;
	}

	.benefits__content {
		padding: 30px 30px 0px 30px;
	}

	.benefits__view {
		flex-direction: column;
	}

	.benefits__stats {
		padding: 0px 30px 30px 30px;
		min-height: unset;
	}

	.benefits__meta-title {
		font-size: 24px;
		line-height: 30px;
		color: white;
	}

	.benefits__related {
		min-width: 100vw;
		width: 100%;
	}

	.benefits__related-content {
		padding: 30px;
		min-height: 200px;
	}

	.benefits__meta {
		min-width: unset;
		width: 100vw;
	}

	.benefits__stats-image {
		width: 20px;
		height: 20px;
	}

	.benefits__stats-item {
		margin-bottom: 10px;
	}

}