.hero-banner {
  position: relative;
  height: 522px;

  background-size: cover;
  background-position: center;
  color: white;
}

.hero-banner:last-child {
  margin-bottom: 0;
}

.hero-banner::before {
  content: '';
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0, 0.4);
}

..hero-banner__container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-right: 30%;
}

.hero-banner__title {
  margin-bottom: 12px;
}

.hero-banner__text {
  margin-bottom: 32px;
}
