:root {
  --header-height: 66px;
  --mobile-header-space: 200px;
}

.header {
  height: var(--header-height);
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0, 0.07);

  z-index: 10;
  padding-top: 0px;
}

.header:not(.header--overlay)::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: var(--topbar-height);
  transform: translateY(-100%);
  background-color: white;
}

.header--sticky {
  /* position: sticky; */
  top: 0px;
}

.header--fixed {
  position: fixed;
  width: 100%; 
  top: var(--topbar-height);
}

.header--overlay:not(.header--open) {
  position: absolute;
  margin-top: var(--topbar-height);
  width: 100%;
  z-index: 10;
  background-color: transparent;
  box-shadow: none;
}

.header--open {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 11;
}

.header--open::before {
  content: '';
  display: block;
  width: 100%; height: var(--mobile-header-space);
  position: absolute;
  top: 0; left: 0;
  background-color: white;
}

.header--open::after {
  content: '';
  display: block;
  width: 100%; height: 5px;
  position: absolute;
  top: 0; left: 0;
  background: var(--primary-gradient);
}

.header__container {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  flex-shrink: 0;
  line-height: 0;
  margin-right: 50px;
}

.header__logo-img--white {
  display: none;
  border-radius: 0px;
}

.header__logo-img--dark {
  border-radius: 0px;
}

.header--overlay:not(.header--open) .header__logo-img--white {
  display: initial;
  border-radius: 0px;
}

.header--overlay:not(.header--open) .header__logo-img--dark {
  display: none;
  margin-top: -20px;
}

.header__menu {
  display: flex;
  /* margin-right: auto; */
}

.header__menu-item {
    position: relative;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    min-height: 40px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--primary-dark-grey-color);
}

/*.header__menu-item:hover,
.header__menu-item--active {
  border-bottom: 2px solid var(--primary-coral-color);
}*/

.header__menu-item::after {
  content: '';
  position: absolute;
  left: 0; bottom: 0;
  width: 100%;
  height: 3px;
  margin-bottom: -13px;
  transform: scaleX(0);
  transform-origin: right;
  background-color: var(--primary-orange-color);
  transition: transform .4s ease-in-out;
}

.header__menu-item:hover::after,
.header__menu-item--active::after {
  transform: scaleX(1);
  transform-origin: left;
}

.header__menu-item--active::after {
    background-color: var(--primary-purple-color);
}

.header--overlay .header__menu-item {
  color: white;
}

.header__menu-item:not(:last-child) {
  margin-right: 30px;
}

.header__model-search {
  display: flex;
}

.header__model-search-input {
  --background-color: var(--secondary-light-purple-color);
  --select-height: 40px;
  --side-padding: 12px;
  max-width: 250px;
  margin-right: 5px;
}

.header--open .header__model-search-input {
  --select-height: 46px;
  max-width: 100%;
}

.header--overlay:not(.header--open) .header__model-search-input {
  --background-color: rgba(239, 237, 232, 0.2);
}

.header__model-search-input::before {
  border: 0;
}

.header--overlay:not(.header--open) .header__model-search-input::before {
  color: white;
}

.header--overlay:not(.header--open) .header__model-search-input::after {
  border-top-color: white;
}

.header--overlay:not(.header--open) .header__model-search-input.el-select--active::after {
  border-bottom-color: white;
}

.header--overlay:not(.header--open) .header__model-search-input[value=""]::before {
  color: white;
  opacity: 0.7;
}

.header--overlay:not(.header--open) .header__model-search-input.el-select--active::before {
  opacity: 0;
}

.header--overlay:not(.header--open) .header__model-search .el-select__search {
  border: 0;
  outline: 0;
  color: white;
  border-radius: 4px;
}

.header--open .header__model-search {
    flex-direction: column;
    row-gap: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translateY(100%);
    background-color: white;
    left: 0;
    margin-left: -40px;
    padding: 10px 40px 0px 40px;
}

.header__model-search-btn {
  width: 40px; height: 40px;
  min-width: auto;
  padding: 0;
  color: white;
  background-color: var(--primary-purple-color);
  border-radius: 6px;

}

.header--open .header__model-search-btn {
  width: 100%;
  background: transparent;
  height: 46px;
  color: white;
}

.header--open .header__model-search-btn:hover {
  color: white;
}

.header--open .header__model-search-btn::after {
  content: 'Search';
}

.header--open .header__model-search-btn svg {
  display: none;
}

.header__trigger-btn {
  display: none;
  width: 40px; height: 40px;
  color: #111;
  background: transparent;
  border: 0;
  padding: 0;
  line-height: 0;
}

.header__trigger-icon--open {
  display: none;
}

.header--open .header__trigger-icon--closed {
  display: none;
}

.header--open .header__trigger-icon--open {
  display: initial;
}

.header--overlay:not(.header--open) .header__trigger-btn {
  color: white;
}

.header__search-box {
  opacity: 0.5;
  margin-right: 5px;
  border-radius: 5px;
  border-style: none;
  padding-left: 20px;
  background-color: var(--secondary-light-purple-color);
}

@media (max-width: 1024px) {
  :root {
    --header-height: 95px;
  }

  .header__menu {
    display: none;
  }

  .header:not(.header--open) .header__model-search {
    display: none; 
  }

  .header__trigger-btn {
    display: block;
  }
  .header__logo {
    margin-top: 12px;
  }

  .header__search-box {
    height: 40px;
    border-style: solid;
    border-color: #eeeeee;
    border-width: 1px;
    background-color: var(--secondary-light-purple-color);
  }
}

@media (max-width: 1365px) {
  .header__menu-item {
    font-size: 14px;
    line-height: 14px;
  }
  .header__menu-item:not(:last-child) {
    margin-right: 20px;
  }
}
