:root {
  --primary-coral-color: #E235E5; /* pink */
  --primary-orange-color: #00AEEF; /* cyan */
  --primary-purple-color: #6a2046; /* purple */
  --primary-purple-color-transparent: rgba(90, 40, 127,0.8);
  --primary-red-color: #E235E5; /* pink */
  --primary-dark-grey-color: #191B1C; /* dark grey */

  --secondary-dark-grey-color: #1F2122;
  --secondary-mid-grey-color: #666666;
  --secondary-light-grey-color: #999999;
  --secondary-light-purple-color: #999999; / * light grey */
  --secondary-blue-color: #2A4A96;
  --secondary-teal-color: #666666; /* medium grey */
  --secondary-green-color: #7BB26A;
  --secondary-half-white-color: rgba(255,255,255,0.5);


  --primary-gradient: linear-gradient(94.44deg, var(--primary-dark-grey-color) 0%, var(--primary-purple-color) 100%);
  --bright-gradient: linear-gradient(94.44deg, var(--primary-orange-color) 0%, var(--primary-purple-color) 100%);

  --primary-gradient-vert: linear-gradient(0deg, var(--primary-purple-color) 0%, var(--primary-coral-color) 56%, var(--primary-orange-color) 100%);
  --secondary-gradient: linear-gradient(94.44deg, var(--secondary-blue-color) 0%, var(--secondary-teal-color) 56%, var(--secondary-green-color) 100%);
  --grey-gradient: linear-gradient(94.44deg, #1C181F 0%, var(--secondary-dark-grey-color) 56%, var(--secondary-mid-grey-color) 100%);
  --purple-gradient: linear-gradient(90deg, rgb(90,40,127) 0%, rgb(147,67,115) 100%);
  --coral-gradient: linear-gradient(90deg, rgb(156,71,113) 0%, rgb(209,102,95) 100%);
  --orange-gradient: linear-gradient(90deg, rgb(210,105,91) 0%, rgb(219,142,51) 100%);

  --primary-gradient-overlay: linear-gradient(94.44deg, rgba(90, 40, 127,0.5) 0%, rgba(207, 95, 101,0.5) 56%, rgba(219, 142, 51,0.5) 100%);
  --secondary-gradient-overlay: linear-gradient(94.44deg, rgba(42, 74, 150,0.5) 0%, rgba(14, 113, 135,0.5) 56%, rgba(123, 178, 106,0.5) 100%);

  --primary-gradient-overlay-dark: linear-gradient(94.44deg, rgba(45, 20, 63,0.8) 0%, rgba(103, 47, 50,0.8) 56%, rgba(110, 71, 26,0.8) 100%);
  --secondary-gradient-overlay-dark: linear-gradient(94.44deg, rgba(21, 37, 75,0.7) 0%, rgba(7, 56, 67,0.7) 56%, rgba(61, 89, 53,0.7) 100%);
}
