body {
  background-color: white;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

@media (max-width: 768px) {
  iframe[src^="https://www.youtube.com/"] {
    --iframe-width: calc(100vw - var(--padding-width)*2);
    --iframe-height: calc(var(--iframe-width) * 9/16);
    width: var(--iframe-width);
    height: var(--iframe-height);
  }
}
