.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1025px) {
  .display--desktop-hidden {
    display: none;
  }
}
