.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.pagination .nav-links {
  display: flex;
}

.pagination .page-numbers {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    margin: 0 3px;
    border: 2px solid transparent;
    border-radius: 5px;
    color: var(--primary-purple-color);
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    background-color: var(--secondary-light-purple-color);
}

.pagination .page-numbers.current {
    background-color: var(--primary-purple-color);
    color: white;
}
